<h1><%= @parfum.name %></h1>

<p><strong>Description :</strong> <%= @parfum.description %></p>
<p><strong>Prix :</strong> <%= number_to_currency(@parfum.prix, unit: "Dt") %></p>
<p><strong>Marque :</strong> <%= @parfum.brand.name %></p>

<%= link_to "Modifier", edit_admin_panel_parfum_path(@parfum) %> |
<%= link_to "Supprimer", admin_panel_parfum_path(@parfum), method: :delete, data: { confirm: "Êtes-vous sûr ?" } %> |
<%= link_to "Retour à la liste", admin_panel_parfums_path %>
